/* Color Theme Swatches in Hex */
/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333



--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  background-color: #435975;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 140rem;
  margin: 0 auto 0 auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.heading-primary {
  text-transform: uppercase;
  font-weight: 0;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1.8px;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.4rem;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #333;
}

.heading-quaternary {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    padding: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-big {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  background-color: #215BA6;
  border-radius: 9px;
  color: #FCFCFE;
  font-weight: bold;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact {
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 4.8rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  align-content: center;
}
.contact__main-header {
  text-decoration: underline;
  flex: 0 1 100%;
  text-underline-offset: 8px;
  text-align: center;
  padding-bottom: 0.8rem;
}
.contact__director {
  height: 100%;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact__heading {
  text-align: center;
  padding-top: 3px;
  transform: translateY(6.5rem);
}
.contact__img-box {
  max-width: 35rem;
  height: 33rem;
}
.contact__img {
  -webkit-clip-path: circle(25.7% at 50% 50%);
          clip-path: circle(25.7% at 50% 50%);
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.contact__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: left;
}
.contact__list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  width: 52%;
}
.contact__email {
  color: #215BA6;
  text-decoration: none;
}

#frazier-img {
  -webkit-clip-path: circle(24.1% at 50% 50%);
          clip-path: circle(24.1% at 50% 50%);
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: 50% 69%;
     object-position: 50% 69%;
}

#bell-img {
  -webkit-clip-path: circle(21.2% at 50% 50%);
          clip-path: circle(21.2% at 50% 50%);
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

#frazier-img {
  -webkit-clip-path: circle(21.2% at 50% 50%);
          clip-path: circle(21.2% at 50% 50%);
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  transform: translateY(49px);
}

.hero {
  height: 75vh;
}
.hero__heading {
  color: #333;
}
.hero__text {
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #333;
  font-size: 2rem;
}
.hero__content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
  background-color: #EBEBEB;
}
.hero__left {
  width: 100%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__left--content {
  width: 48rem;
}
.hero__right {
  padding: 2.4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero__img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 87%;
}
.hero__img {
  width: 100%;
}
.hero__btn:not(:last-child) {
  margin-right: 2.4rem;
}
.hero__btn--learn:link, .hero__btn--learn:visited {
  background-color: #FCFCFE;
  color: #215BA6;
}

.services {
  padding: 4.8rem 2.4rem;
  width: 100%;
  height: 100%;
  background-color: #d5e3f5;
  font-size: 1.6rem;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8rem;
}
.services__heading.heading-secondary {
  border-bottom: 2px solid #215BA6;
}
.services__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 27.8rem;
  flex: 0 0 35%;
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2.4rem;
}
.services__icon {
  color: #215BA6;
  width: 2.2rem;
  height: auto;
}
.services__mission {
  margin-left: 2.4rem;
  flex: 1;
  height: 100%;
}
.services__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.header {
  background-color: #D5E3F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light-2);
}
.header__logo {
  height: 3.2rem;
  margin-left: 3.2rem;
}

.nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  font-weight: 600;
}
.nav > * {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  display: block;
  padding: 1.6rem 3.2rem;
  transform: translateY(0) scale(1);
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  color: #215BA6;
  transform: translateY(-0.3px) scale(1.03);
  text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
}
.nav__item {
  position: relative;
  font-size: 1.6rem;
  transition: all 0.2s;
}
