/* Color Theme Swatches in Hex */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  background-color: #435975;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 160rem;
  margin: 0 auto 0 auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.heading-primary {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1.8px;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.4rem;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  color: #333;
}

.heading-quaternary {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}

.heading-five {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    padding: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-big {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  background-color: #215BA6;
  border-radius: 9px;
  color: #FCFCFE;
  font-weight: bold;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card {
  height: 22rem;
  width: 52rem;
  border-radius: 9px;
  display: flex;
  border: 1px solid #333;
  overflow: hidden;
  justify-content: space-evenly;
  background-color: #d5e3f5;
}
.card__img-box {
  width: 12.8rem;
  height: auto;
  margin-left: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img {
  width: 100%;
}
.card__content {
  margin-right: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card__header {
  margin-bottom: 0.8rem;
}
.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card__item {
  font-size: 1.2rem;
}
.card__item:not(:last-child) {
  margin-bottom: 0.4rem;
}
.card__email {
  text-decoration: none;
  cursor: pointer;
  color: primary-color-3;
}

.hero__heading {
  color: #333;
}
.hero__text {
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #333;
  font-size: 2rem;
}
.hero__content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
  background-color: #EBEBEB;
}
.hero__left {
  width: 100%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__left--content {
  width: 48rem;
}
.hero__right {
  padding: 2.4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero__img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 87%;
}
.hero__img {
  width: 100%;
}
.hero__btn:not(:last-child) {
  margin-right: 2.4rem;
}
.hero__btn--learn:link, .hero__btn--learn:visited {
  background-color: #FCFCFE;
  color: #215BA6;
}

.services {
  padding: 4.8rem;
  width: 100%;
  height: 100%;
  background-color: #d5e3f5;
  font-size: 1.6rem;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 8.6rem;
}
.services__heading.heading-secondary {
  display: inline-block;
  border-bottom: 2px solid #215BA6;
  padding-bottom: 1.6rem;
}
.services__heading.heading-tertiary {
  display: inline-block;
}
.services__items {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  flex: 0 0 40%;
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2.4rem;
}
.services__icon {
  color: #215BA6;
  width: 2.2rem;
  height: auto;
  margin-right: 0.8rem;
}
.services__mission {
  flex: 0 0 60%;
  height: 100%;
}
.services__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.contact {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.8rem 1fr;
  align-items: center;
  padding: 4.8rem;
  gap: 4.8rem;
  width: 100%;
  height: 100%;
  background-color: #EBEBEB;
  color: #333;
}
.contact__header {
  margin-bottom: 0;
  grid-column: 1/3;
  grid-row: 1/2;
}
.contact__right {
  background-color: rgb(229, 233, 126);
}

.header {
  background-color: #D5E3F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light-2);
}
.header__logo {
  height: 3.2rem;
  margin-left: 3.2rem;
}

.location {
  background-color: #D5E3F5;
  width: 100%;
  height: 100%;
  gap: 4.8rem;
  padding: 4.6rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.location__header {
  grid-column: 1/3;
  grid-row: 1/3;
  margin-bottom: 0;
}
.location__content {
  color: #333;
  font-size: 3.6rem;
}
.mission {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4.8rem;
  justify-content: space-between;
  background-color: #EBEBEB;
  color: #333;
  padding: 4.8rem;
  text-align: left;
  height: 100%;
  width: 100%;
}
.mission__img-box {
  flex: 0 0 30%;
  height: auto;
}
.mission__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mission__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission__header {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  text-align: center;
}
.mission__text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  font-weight: 600;
}
.nav > * {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  display: block;
  padding: 1.6rem 3.2rem;
  transform: translateY(0) scale(1);
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  color: #215BA6;
  transform: translateY(-0.3px) scale(1.03);
  text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
}
.nav__item {
  position: relative;
  font-size: 1.6rem;
  transition: all 0.2s;
}
