/* Color Theme Swatches in Hex */
/*
--- 01 TYPOGRAPHY SYSTEM



- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333



--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  background-color: #435975;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 140rem;
  margin: 0 auto 0 auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.heading-primary {
  text-transform: uppercase;
  font-weight: 0;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1.8px;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.4rem;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #333;
}

.heading-quaternary {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    padding: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-big {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  background-color: #215BA6;
  border-radius: 9px;
  color: #FCFCFE;
  font-weight: bold;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 4.8rem;
  background-color: #EBEBEB;
  height: 60vh;
  width: 100%;
  -moz-column-gap: 4.8rem;
       column-gap: 4.8rem;
  row-gap: 5rem;
  background-color: aqua;
}
.contact__header {
  flex: 0 0 100%;
  text-align: center;
}
.contact__card {
  border: 2px solid #215BA6;
  border-radius: 1.2rem;
  flex: 0 0 48%;
  height: 65%;
  display: flex;
  flex-flow: row wrap;
}
.contact__list {
  list-style: none;
}
#bell-img {
  transform: scale(0.9624);
  -webkit-clip-path: circle(49% at 50% 50%);
          clip-path: circle(49% at 50% 50%);
}

#frazier-img {
  transform: scale(0.8624);
  -webkit-clip-path: circle(44% at 50% 50%);
          clip-path: circle(44% at 50% 50%);
}

#frazier {
  background-color: red;
  align-items: center;
  padding: 1.2rem;
  gap: 1.2rem 0;
}
#frazier__name {
  background-color: rgb(127, 163, 255);
  flex: 0 0 60%;
  margin-left: 3.2rem;
}
#frazier__img-box {
  flex: 0 0 1%;
  background-color: rgb(255, 133, 127);
}
#frazier__img {
  background-color: rgb(127, 255, 136);
}
#frazier__list {
  background-color: rgb(100, 109, 43);
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  gap: 1.6rem;
  font-size: 1.6rem;
}
#frazier__list-item {
  background-color: rgb(210, 127, 255);
  display: block;
  float: left;
}
#frazier__email {
  background-color: rgb(223, 255, 127);
}

#bell {
  background-color: yellow;
}
#bell__list {
  list-style: none;
}
.hero {
  height: 75vh;
}
.hero__heading {
  color: #333;
}
.hero__text {
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #333;
  font-size: 2rem;
}
.hero__content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
  background-color: #EBEBEB;
}
.hero__left {
  width: 100%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__left--content {
  width: 48rem;
}
.hero__right {
  padding: 2.4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero__img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 87%;
}
.hero__img {
  width: 100%;
}
.hero__btn:not(:last-child) {
  margin-right: 2.4rem;
}
.hero__btn--learn:link, .hero__btn--learn:visited {
  background-color: #FCFCFE;
  color: #215BA6;
}

.services {
  padding: 4.8rem 2.4rem;
  width: 100%;
  height: 100%;
  background-color: #d5e3f5;
  font-size: 1.6rem;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8rem;
}
.services__heading.heading-secondary {
  border-bottom: 2px solid #215BA6;
}
.services__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 27.8rem;
  flex: 0 0 35%;
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2.4rem;
}
.services__icon {
  color: #215BA6;
  width: 2.2rem;
  height: auto;
}
.services__mission {
  margin-left: 2.4rem;
  flex: 1;
  height: 100%;
}
.services__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.header {
  background-color: #D5E3F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light-2);
}
.header__logo {
  height: 3.2rem;
  margin-left: 3.2rem;
}

.nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  font-weight: 600;
}
.nav > * {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  display: block;
  padding: 1.6rem 3.2rem;
  transform: translateY(0) scale(1);
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  color: #215BA6;
  transform: translateY(-0.3px) scale(1.03);
  text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
}
.nav__item {
  position: relative;
  font-size: 1.6rem;
  transition: all 0.2s;
}
