@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    @if $breakpoint == map {
        @media only screen and (max-width: 38.8em) {
            @content;
        }
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if $breakpoint == cards {
        @media only screen and (max-width: 66.9em) {
            @content;
        }
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin transition($properties...) {
    transition: $properties;
}

@mixin flex-grid($columns, $gutter) {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1 0 calc(100% / #{$columns} - #{$gutter});
        margin-right: $gutter;
        margin-bottom: $gutter;
    }
}
