// Breakpoints
$breakpoints: (
  largest: 120rem, // 1200px
  large: 110rem, // 1100px
  medium: 90rem, // 900px
  small: 60rem, // 600px
  smallest: 50rem // 500px
);

// Color Palette (unchanged)
$colors: (
  // ...
);

// Typography
$typography: (
  default-font-size: 1rem, // 10px
  default-font-family: 'Montserrat', sans-serif,
  default-font-weight: 400,
  headers: (
    h1: 4.4rem, // 44px
    h2: 3.6rem, // 36px
    h3: 2.8rem, // 28px
    h4: 2.4rem, // 24px
    h5: 2rem // 20px
  ),
  font-weights: (
    default: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700
  ),
  line-heights: (
    default: 1,
    small: 1.05,
    medium: 1.2,
    paragraph: 1.6,
    large: 1.8
  )
);

// Spacing
$spacing: (0.2rem, 0.4rem, 0.8rem, 1.2rem, 1.6rem, 2.4rem, 3.2rem, 4.8rem, 6.4rem, 8rem, 9.6rem, 12.8rem);

// Shadows (unchanged)
$shadows: (
  default: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)
);

// Border Radius (unchanged)
$border-radius: (
  default: 0.9rem, // 9px
  medium: 1.1rem // 11px
);
