
//Break Points
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

/* Color Theme Swatches in Hex */
$Learning-Center-1: #F28B49;
$Learning-Center-2: #A65A29;
$Learning-Center-3: #215BA6;
$Learning-Center-4: #F2D218;
$Learning-Center-5: #A69119;


//colors
$color-primary: #215BA6;
$color-primary-light: #D5E3F5;
$color-primary-dark: #2327a8;

$color-primary-1: #3084F2;
$color-primary-2: #5A81B5;
$color-primary-3: #215BA6;
$color-primary-4: #D5E3F5;
$color-primary-5: #173F73;

$color-secondary: #F2D218;
$color-secondary-light: #F0B946;
$color-secondary-dark: #c09438;


$color-grey-1: #EBEBEB;
$color-grey-2: #ABABAB;
$color-grey-3: #5E5E5E;
$color-grey-4: #6B6B6B;
$color-grey-5: #454545;



$color-white: #fff;
$color-black: #000;


//FONT
$default-font-size: 1.6rem;
$default-font-family: 'Montserrat', sans-serif;
$default-font-weight: 400;

// Font sizes px
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

//Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333



--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/