.header {
  background-color: $color-primary-light;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  
  

  
  &__logo-box{
    height: auto;
    width: 4.5rem;
  }
  &__logo {
    width: 100%;
    height: auto;

  }
}
