.header {
  background-color: $color-primary-light;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  @include respond(phone) {
    display: inline-block;
  }
  
  @include respond(tab-land) {
    height: 18vh;
  }


  &__mobile-box {   
    @include respond(phone) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      //need to keep
      align-items: center;
      width: 100%;
    }
  }

  @include respond(tab-land) {
    height: 10vh;
  }

  @include respond(phone) {
    height: 14vh;
    width: 100%;
  }

  &__logo-box {
    height: 8rem;
    width: auto;
    @include respond(phone) {
    }
  }

 

  &__logo {
    
    height: 100%;
    width: auto;
    @include respond(phone) {
      height: 100%;
      
      width: auto;
    }
  }
}
