.header {
  background-color: $color-primary-light;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 8vh;
  border-bottom: 1px solid var(--color-grey-light-2);
  overflow: hidden;
  position: relative;
  transition: all 0.2s;

  @include respond(tab-land) {
    height: 10vh;
  }

  @include respond(phone) {
    height: 14vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 80vh;
    width: 100%;
    padding: 0 3.2rem;
  }

  
  
  &__logo {
    height: 100%;
    width: auto;
    height: 9rem;
      width: 9rem;
    @include respond(phone) {
      height: 4.4rem;
      // width: 4.4rem;
      width: auto;
    }
  }
}
