.navigation{
    font-size: 1.8rem;
    &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        &__item{
            margin: 0 1rem;
            a{
                color: $color-grey-dark;
                text-decoration: none;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}