.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    text-transform: uppercase;
    background-color: $color-primary;
    border-radius: 9px;
    color: $color-white;
    font-weight: bold;
    transition: all .2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }


}
