.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 4.8rem 15%;
  background-color: $color-grey-1;
  height: 75vh;
  width: 100%;
  column-gap: 10%;
  align-content: flex-end;
  

  &__header {
    flex: 0 0 100%;
    text-align: center;
  }

  &__director {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    flex: 1 0 40%;
    border: 2px solid $color-primary-3;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-evenly;
    
    align-items: center;
    padding: 2.4rem;
    border-radius: 1.2rem;
    max-width: 39.2vh;
    height: 90%;
  }

  &__name {
  }

  &__img-box {
    
  }

  &__img {
  }

  &__list {
  }
  &__list-item {
  }

  &__email {
  }
}

#bell-img {  
  
  clip-path: circle(49% at 50% 50%);
}
#frazier-img {
  
  transform: scale(0.8624);
  clip-path: circle(44% at 50% 50%);
}
