.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 4.8rem;
  background-color: $color-grey-1;
  height: 60vh;
  width: 100%;
  column-gap: 4.8rem;
  row-gap: 5rem;
  background-color: aqua;

  &__header {
    flex: 0 0 100%;
    text-align: center;
  }

  &__card {
    border: 2px solid $color-primary-3;
    border-radius: 1.2rem;
    flex: 0 0 48%;
    height: 80%;
  }

  &__name {
  }

  &__img-box {
    // margin-top: auto;
  }

  &__img {
  }

  &__list {
    list-style: none;
  }
  &__list-item {
  }

  &__email {
  }
}

#bell-img {
  transform: scale(0.9624);
  clip-path: circle(49% at 50% 50%);
}
#frazier__img {
  transform: scale(0.8624);
  clip-path: circle(44% at 50% 50%);
}

#frazier {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.4em;

  &__img-box {
    height: 100%;
  }

  &__img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
  }

  &__info {
    flex: 1;
  }

  &__name {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    margin-bottom: 3rem;
  }

  &__text {
    line-height: 1.6;
    font-size: $default-font-size;
    margin-bottom: 3rem;
  }
  &__list {
    margin-bottom: 3rem;
  }
  &__list-item {
  }

  &__email {
  }
}

#bell {
  background-color: yellow;
  &__name {
  }

  &__img-box {
    // margin-top: auto;
  }

  &__img {
  }

  &__list {
    list-style: none;
  }
  &__list-item {
  }

  &__email {
  }
}
