.heading-primary {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1.8px;
  @media only screen and (max-width: 700px) {
    font-size: 2.4rem;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.4rem;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  color: $color-grey-6;
}

.heading-quaternary {
  font-size: 1.8rem;
  text-transform: uppercase;

  letter-spacing: 2px;
  color: $color-grey-6;
}

.heading-five {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
