.heading-primary {
  text-transform: uppercase;
  font-weight: 00;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1.8px;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.4rem;
  letter-spacing: 2px;
  
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: $color-grey-6; 
}